{% extends 'base.html.twig' %}

{% block title %}Footnball!{% endblock %}

{% block body %}

    <header>
      <h1>Match Scores</h1>
    </header>
    <main>
      <form action="{{ path('app_foot') }}" method="GET">
        <label for="search">Search:</label>
        <input type="text" id="search" name="search">
        <button type="submit">Go</button>
      </form>
      <ul class="match-list">
        {% for match in matches %}
        <li class="match-item">
          <div class="team-names">
            <span class="home-team">{{ match.teams.home.name }}</span>
            <span class="vs">vs</span>
            <span class="away-team">{{ match.teams.away.name }}</span>
          </div>
          <div class="score">
            <span class="home-score">{{ match.goals.home }}</span>
            <span class="vs">-</span>
            <span class="away-score">{{ match.goals.away }}</span>
          </div>
        </li>
        {% endfor %}
      </ul>
        {% if not matches %}
        <p>No matches found.</p>
        {% endif %}
</main>
{% endblock %}
